# local/env
.env
*.env
.env.*

# notebooks & caches
.ipynb_checkpoints/
__pycache__/

# terraform (if you run outside container)
terraform.tfstate*
.terraform/
.terraform.lock.hcl

# editor junk
.vscode/
.DS_Store
all.txt
